* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::before,
::after,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --inter: "Inter";
  --pink: rgba(255, 135, 176, 1);
  --purple: rgba(124, 118, 187, 1);
}
ul,
li,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

/* container */

.container {
  width: 100%;
  max-width: 1700px;
  margin-inline: auto;
}

/* html,body */

html,
body {
  display: block;
}
.header {
  margin-inline: 109px 107px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 57px;
  margin-bottom: 30px;
}
.header__logo {
  display: flex;
  /* align-items: center; */
  justify-content: center;
}
.menu {
  display: flex;
  gap: 42px;
  align-items: center;
  justify-content: space-between;
}
.menu a {
  color: var(--purple);
  font-family: var(--inter);
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
.btn {
  background-color: var(--purple);
  padding: 18px 56px;
  border-radius: 12px;
  border: none;
  font-family: var(--inter);
  font-size: 17px;
  font-weight: 600;
  color: white;
}
.intro {
  margin-bottom: 114px;
}
.int {
  display: flex;
  justify-content: center;
  align-items: center;
}
.info__text h1 {
  color: var(--purple);
  font-family: var(--inter);
  font-size: 95px;
  font-weight: 700;
  max-width: 684px;
  margin-bottom: 48px;
}
.info__text span {
  color: var(--pink);
}
.info__text p {
  color: rgba(99, 99, 99, 1);
  font-size: 20px;
  max-width: 684px;
  text-align: justify;
  margin-bottom: 48px;
}
.info__bottons {
  display: flex;
  gap: 52px;
}
.btn1 {
  border: 3px solid var(--purple);
  border-radius: 9px;
  background-color: white;
  display: flex;
  align-items: center;
  padding: 18px 32px;
  font-family: var(--inter);
  font-size: 20px;
  color: var(--purple);
}
.intro__img {
  width: 1100px;
  height: 880px;
}
.logos {
  display: flex;
  justify-content: space-between;
}
.hamkorlar {
  width: 1300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 43px;
  box-shadow: 0px 14px 37px -10px rgba(179, 179, 179, 0.17);
  background: rgba(220, 240, 255, 0.07);
  border-radius: 12px;

  padding-bottom: 65px;
}
.hamkorlar h1 {
  color: var(--purple);
}
.portifolio {
  display: flex;
  align-items: center;
}
.protifolio__text h1 {
  font-family: var(--inter);
  color: var(--purple);
  width: 845px;
  font-size: 50px;
  font-weight: 700;
  margin-block: 25px 38px;
}
.protifolio__text {
  margin-bottom: 44px;
}
.portifolio__text__p {
  width: 430px;
  font-family: var(--inter);
  font-size: 17px;
  font-weight: 500;
  color: black;
  opacity: 0.61;
}
.portifolio__service h3 {
  color: var(--pink);
  font-weight: 600;
  font-size: 19px;
  font-family: var(--inter);
}
.play {
  display: flex;
  gap: 53px;
  margin-top: 44px;
}
.play__live {
  display: flex;
  gap: 5px;
}
.play__live p {
  font-family: var(--inter);
  font-weight: 400;
  font-size: 16px;
  color: black;
  cursor: pointer;
  border-bottom: 3px solid var(--purple);
  padding-bottom: 5px;
  width: 72px;
  transition: 0.6s;
}
.case__study p {
  font-family: var(--inter);
  font-weight: 400;
  font-size: 16px;
  color: black;
  cursor: pointer;
  border-bottom: 3px solid var(--purple);
  padding-bottom: 5px;
  transition: 0.6s;
}
.play__live p:hover {
  color: black;
  opacity: 0.6;
  border-bottom: 3px solid rgba(1, 1, 1, 0.17);
  cursor: pointer;
}
.case__study p:hover {
  color: black;
  opacity: 0.6;
  border-bottom: 3px solid rgba(1, 1, 1, 0.17);
  cursor: pointer;
}

.services__text {
  margin-block: 117px 90px;
  max-width: 913px;
  margin: 0 auto;
  text-align: center;
}
.services__text h1 {
  font-family: var(--inter);
  font-weight: 700;
  font-size: 35px;
  margin-bottom: 48px;
  color: var(--purple);
}
.services__text p {
  font-family: var(--inter);
  font-size: 17px;
  font-weight: 500;
  color: black;
  opacity: 0.6;
  margin-bottom: 156px;
}
.services__cards {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 100px;
  margin: 0 auto;
}
.services__card {
  padding-block: 35px 65px;
  background-color: #27a3ff29;
  border-radius: 30px;
  border: 2px solid transparent;
  box-shadow: 0px 14px 37px -10px rgba(179, 179, 179, 0.17);
}
.services__card h1 {
  font-family: var(--inter);
  font-size: 30px;
  font-weight: 600;
  color: rgba(124, 118, 187, 1);
  margin-bottom: 60px;
}
.services__card p {
  width: 330px;
  margin: 0 auto;
  margin-bottom: 54px;
  font-family: var(--inter);
  font-size: 17px;
  line-height: 28px;
  font-weight: 400;
}
.services-card__image {
  width: 500px;
}
.services-card__image img {
  width: 100%;
}
.services__btn {
  border: 2px solid var(--purple);
  padding: 17px;
  border-radius: 13px;
  background-color: transparent;
  font-family: var(--inter);
  font-size: 18px;
  color: var(--purple);
  font-weight: 700;
  transition: 0.6s;
}
.services__btn:hover {
  background-color: var(--purple);
  padding: 17px;
  border-radius: 12px;
  border: none;
  font-family: var(--inter);
  font-size: 17px;
  font-weight: 600;
  color: white;
}
.testimonials {
  margin-top: 296px;
}
.testimonials h1 {
  text-align: center;
  color: var(--purple);
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 125px;
  line-height: 30px;
}
.achive {
  display: flex;
  align-items: center;
}
.achive__text {
  position: relative;
  padding-block: 140px;
}
.quote2 {
  position: absolute;
  right: 0;
  bottom: 0;
}
.quote1 {
  position: absolute;
  left: 0;
  top: 0;
}
.achive__card {
  border-radius: 24px;
  display: flex;
  padding: 66px;
  box-shadow: 0px 14px 37px -10px rgba(179, 179, 179, 0.17);
  background: rgba(220, 240, 255, 0.04);
  gap: 36px;
}
.card__tt p {
  font-family: var(--inter);
  font-weight: 300;
  line-height: 30px;
}
.card__tt h2 {
  font-family: var(--inter);
  font-weight: 400;
  font-size: 17px;
  color: rgba(0, 0, 0, 0.61);
  margin-top: 5px;
}
.card__tt h3 {
  font-family: var(--inter);
  font-weight: 400;
  font-size: 17px;
  color: var(--purple);
  margin-top: 10px;
}
.testimonials__cards {
  display: flex;
  gap: 195px;
}
.testimonials__card__image {
  margin-bottom: 42px;
  max-width: 125px;
  height: 125px;
}
.testimonials__card__image img {
  width: 100%;
  height: 100%;
}
.testimonials__card p {
  font-family: var(--inter);
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 120px;
}
span {
  font-family: var(--inter);
  font-weight: 500;
  color: var(--purple);
}
.business {
  margin: 0 auto;
  width: 938px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 148px;
}
.business h1 {
  text-align: center;
  color: var(--purple);
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 125px;
  line-height: 30px;
}
.fot {
  display: flex;
  gap: 100px;
  margin: 0 auto;
}
.icons {
  display: flex;
  gap: 27px;
}
.icon {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  background-color: #dcf0ffa1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.6s;
}
.icon:hover {
  background-color: #9fcaeba1;
  transform: rotate(25deg);
}
.comapny__us p {
  width: 435px;
  font-family: var(--inter);
  font-size: 15px;
  line-height: 19px;
  font-weight: 400;
  margin-block: 28px 45px;
}
.about__us h1 {
  font-family: var(--inter);
  font-size: 20px;
  font-weight: 700;
  color: var(--purple);
  margin-bottom: 20px;
}
.location h1 {
  font-family: var(--inter);
  font-size: 20px;
  font-weight: 700;
  color: var(--purple);
  margin-bottom: 20px;
}
.contact__us h1 {
  font-family: var(--inter);
  font-size: 20px;
  font-weight: 700;
  color: var(--purple);
  margin-bottom: 20px;
}

.about__us a {
  display: block;
  margin-bottom: 27px;
  font-family: var(--inter);
  font-size: 16px;
  color: #0000009c;
}
.location__text {
  display: flex;
  gap: 5px;
  align-items: center;
  /* justify-content: center; */
  margin-bottom: 24px;
  width: 320px;
}
.ttr p {
  font-family: var(--inter);
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  color: #0000009c;
}
.contact__us p {
  font-family: var(--inter);
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  color: #0000009c;
  margin-bottom: 13px;
}
.copright p {
  font-family: var(--inter);
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  color: #0000009c;
  margin-block: 270px 41px;
  text-align: center;
}
